@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSansWeb.eot");
  src: url("../fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/IRANSansWeb.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IRANSansWeb.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IRANSansWeb.ttf")
      format("truetype");
}

*:not(i) {
  font-family: IRANSans !important;
  direction: rtl;
  text-align: right;
  /* font-weight: 300;
  line-height: 1.5em; */
}

#treelist * {
  text-align: left;
}

#anti-treelist * {
  text-align: right;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.to-center {
  position: fixed;
  left: 50%;
}

.thumbnail {
  position: relative;
  width: 600px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.thumbnail-small {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
}
.thumbnail-small img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.be-bold {
  font-weight: 600;
}

.neveshte-abi {
  color: #00acc1;
}

input {
  font-size: 20px !important;
}

.load {
  background: ghostwhite;
}
